@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Raleway:400,500');

body {
  font-family: 'Raleway', sans-serif;
}

.box {
  background-color: black;
  color: white;
  height: 80vh;
  opacity: 0.6;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.box h1 {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 40px;
}